<h2>Login</h2>
<%=form_for :user do |f|%>
	<fieldset>
		<legend>Enter Your Detials</legend>
		<div class="form">
		<%=f.label :Name%>
		<%=f.text_field :name%>
		</div>
		<div class="form">
		<%=f.label :Password%>
		<%=f.password_field :password%>
		</div>
		<div class="form">
		<div class="submit">
		<%=submit_tag "Login", class: "btn-large"%>
			</div>
			  </div>
	</fieldset>
<%end%>
		
